.btn {
  background: #0064e7;
  border: none;
  border-radius: 15px;
  padding: 10px 25px;
  color: #fff;
  font-family: inherit;
  margin: 20px 10px;
  text-transform: uppercase;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.red {
  background: #e74c3c;
}

.orange {
  background: orange;
}
